/*
Start navbar animation of class {animated} 
-----animated is working by clicking hamburger icon----
*/
@keyframes myMoveing
{

   from { transform: translate3d(0,100%,0); }

    to { transform: translate3d(0,0,0); }
	
}
@keyframes myMoveingReverse{
	 from { transform: translate3d(0,0,0); }
 to { transform: translate3d(0,100%,0); }
    
}


/*End navbar animation of class {animated} */